.maxWidth{
    width: 100%;
}
.flex{
display: flex;
}
.flex-centre{
    display: flex;
    justify-content: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.grid{
    display: grid;
}
.block{
    display: block;
}
.inline{
    display: inline;
}