.flex{
    display: flex;
}
.movie-details{
    display: grid;
    grid-template-columns: auto auto;
    color: white;
    margin: 3% 20%;
    border: 1px silver solid;
    padding: 50px;
}
strong{
    font-size: 20px;
}

#movie{
    height: 300px;
    width: 200px;
}
.detail-buttons{
    flex-direction: column;
}
#downloadbtn{
  width: 100%;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin:2px 0
}
#commentbtn{
    width: 100%;
    appearance: none;
    background-color: #7595f4;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    margin:2px 0
}

.details{
padding-left: 3rem;
}
.comment-section{
    color: white;
}

/* mobile */
@media screen and (min-width:390px )and (max-width:820px){

    .movie-details{
        display: flex;
        flex-direction: column;
        margin: 10% 1%;
        color: white;
    }
    .details {
        
        font-size: 12px;
        text-align: inherit;
    }
       
    strong{
        font-size: 14px;
    }
.movies{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.photo{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-buttons{
    padding: 2px 0;
}

}
@media screen and (min-width:820px )and (max-width:1403px){

    .movie-details{
        
        margin: 7% 3%;
        color: white;
    }
    .details{
        padding: 4% 0 0 4%;
    }
    

}
@media screen and (min-width:375px)and (max-width:500px) {

    .movie-details{
        display: flex;
        flex-direction: column;
        margin: 10% 1%;
        color: white;
    }
    .details {
        
        font-size: 12px;
        text-align: inherit;
    }
       
    strong{
        font-size: 14px;
    }
.movies{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.photo{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-buttons{
    padding: 2px 0;


}
}
  