.flex{
    display: flex;
}
.text-content{
    
    color: white;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
#movie-title{
    color: white;
}

#movie{
    border: 3px white solid;
    box-sizing: border-box;
    height: 18rem;
    width: 12rem;
}
#movie:hover{
    border: 3px green solid;
}
#txt{
    padding-top: 1%;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
#welcome{
    padding-top:20px;
    width: 500px;
    text-align: center;
    
}
.movie-content{
display: grid;
grid-template-columns: auto auto auto auto;

margin:1% 21% ;
padding: 2% 1% 0 1%;
border-top: 1px solid silver;
}
.movie-card{
    cursor: pointer;
    text-align: center;
}
.footer{
justify-content: center;
display: flex;
background:rgb(58, 58, 58);
 color:rgb(184, 184, 184);
border-top:1px solid silver ;

}

li{
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
} 
li:hover{
    color: white;
}
@media screen and (min-width:820px )and (max-width:1403px){
    .text-content{
    
        color: white;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
    } 
    #txt{
        padding-top: 1%;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    .movie-content{
        display: grid;
        grid-template-columns: auto auto auto;
        margin:2% 12% ;
        padding-top: 2%;
        border-top: 1px solid silver;
        }
        .movie-card{
            cursor: pointer;
            text-align: center;
            padding: 2px 10px;
        }
        
       
}   
@media screen and (min-width:390px )and (max-width:800px){
    .text-content{
    
        color: white;
        justify-content: center;
        
        flex-direction: column;
        align-items: center;
    } 
    #txt{
        padding-top: 1%;
        font-size: 17px;
        display: flex;
        justify-content: center;
    }
    #welcome{
        padding-top:20px;
        width: 200px;
        text-align: center;
        font-size: 13px;
    }
    .movie-content{
        display: grid;
        grid-template-columns: auto auto ;
        margin:2% 2% ;
        padding-top: 2%;
        border-top: 1px solid silver;
        }
        .movie-card{
            cursor: pointer;
            text-align: center;
            padding: 2px 5px;
        }
        
        #movie{
            border: 3px white solid;
            box-sizing: border-box;
            height: 10rem !important;
            width: 7rem !important;
        }   
        #movie-title{
            font-size: 10px;
        } 
        .footer{
            justify-content: center;
            
            background:rgb(58, 58, 58);
             color:rgb(184, 184, 184);
            border-top:1px solid silver ;
            
            }
            li{
                list-style-type: none;
                padding: 4px;
                cursor: pointer;
                font-size: 10px;
                
            }
            p{
                font-size: 10px;
                padding: 0 20px;
                text-align: center;
            }
}   
@media screen and (min-width:375px)and (max-width:500px) {

    .text-content{
    
        color: white;
        justify-content: center;
        
        flex-direction: column;
        align-items: center;
    } 
    #txt{
        padding-top: 1%;
        font-size: 17px;
        display: flex;
        justify-content: center;
    }
    #welcome{
        padding-top:20px;
        width: 200px;
        text-align: center;
        font-size: 13px;
    }
    .movie-content{
        display: grid;
        grid-template-columns: auto  ;
        margin:2% 2% ;
        padding-top: 2%;
        border-top: 1px solid silver;
        }
        .movie-card{
            cursor: pointer;
            text-align: center;
            padding: 2px 5px;
        }
        
        #movie{
            border: 3px white solid;
            box-sizing: border-box;
            height: 10rem !important;
            width: 7rem !important;
        }   
        #movie-title{
            font-size: 10px;
        } 
        .footer{
            justify-content: center;
            
            background:rgb(58, 58, 58);
             color:rgb(184, 184, 184);
            border-top:1px solid silver ;
            
            }
            li{
                list-style-type: none;
                padding: 4px;
                cursor: pointer;
                font-size: 10px;
                
            }
            p{
                font-size: 10px;
                padding: 0 20px;
                text-align: center;
            }


}
