.flex {
    display: flex;
}

.nav-bar {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background: #1d1d1d;
    overflow: hidden;
    color: #919191;
    border-bottom: 1px solid #2f2f2f;
    backface-visibility: hidden;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 20px;
}

#bar {
    display: none;
}

.logo {

    align-items: center;

}

.logo #p-nav {
    padding-left: 8px;
}

.nav-content {
    align-items: center;
}

.nav-content ul {
    display: flex;
    padding-right: 2rem;
    text-decoration: none;
    list-style: none;

}

.nav-content .search {
    background: rgb(43, 43, 43);
    border-radius: 20px;
    width: 300px;
}

.nav-content ul li {
    padding-left: 20px;
    cursor: pointer;
}

.nav-content ul li:hover {
    color: white;
}

#quick-search {
    background: transparent;
    border: none;
    color: white;
    padding: 10px;
    align-items: center;
    outline: none;
}

#icon {
    padding-left: 10px;
    padding-top: 7px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media screen and (min-width:820px)and (max-width:1403px) {
    .logo #p-nav {
        display: none;
    }

    .nav-content .search {
        background: rgb(43, 43, 43);
        border-radius: 20px;
    }

    #bar {
        display: block;
        padding-left: 20px;
    }
    .content ul{
        color: white;
        text-decoration: none;
        list-style: none;
    }

    .nav-content ul {
        display: none;
        line-height: 80px;
        text-decoration: none;
        list-style: none;
    }

    .nav-content {
        padding-right: 10%;

    }

    .logo {
        padding-left: 2%;

        align-items: center;
    }


}

@media screen and (min-width:390px)and (max-width:800px) {
    .logo #p-nav {
        display: none;
    }
    #bar {
        display: block;
        padding-left: 20px;
        padding-right: 10px;
    }
    .content ul{
        color: white;
        text-decoration: none;
        list-style: none;
    }

    .nav-content ul {
        display: none;

        text-decoration: none;
        list-style: none;
    }

    .logo {
        padding-left: 2%;

        align-items: center;
    }

    .nav-content .search {
        background: rgb(43, 43, 43);
        border-radius: 20px;
        width: 150px;
    }



}
@media screen and (min-width:375px)and (max-width:500px) {
    .logo #p-nav {
        display: none;
    }
    #bar {
        display: block;
        padding-left: 20px;
        padding-right: 10px;
    }
    .content ul{
        color: white;
        text-decoration: none;
        list-style: none;
    }
    .nav-content ul {
        display: none;

        text-decoration: none;
        list-style: none;
    }
    .nav-content .search {
        
        width: 144px;
        
    }
}